@font-face {
  font-family: 'sofiapro-light';
    src: font_url('sofiapro-light-webfont.woff2') format('woff2'),
         font_url('sofiapro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
