@font-face {
  font-family: 'acherus_grotesque_-_regular';
  src: url('acherus_grotesque_-_regular-webfont.woff2') format('woff2'),
       url('acherus_grotesque_-_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'acherus_grotesque_-_regular_italic';
  src: url('acherus_grotesque_-_regular_italic-webfont.woff2') format('woff2'),
       url('acherus_grotesque_-_regular_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}