@import 'bootstrap';
@import 'font-awesome';

body {
  background: image_url('spiration-light.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.alert {
  margin-top: 10px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

@media (min-width: 376px){
  .details-container {
    padding: 0 35px 0 35px;
  }
}

.help-block {
  color: #ff3333;
  background-color: #ffeeee;
  border-radius: 3px;
  padding: 2px 8px 2px 8px;
}

.navbar {
  background: image_url('footer_lodyas.png');
  // box-shadow: 0px 1px 3px #2a2a2a;
  box-shadow: 0px 3px 7px #202020;
  font-family: 'sofiapro-light', sans-serif;
}

.navbar-inverse .navbar-brand {
  color: #C3DDE6;
  font-size: 1.5rem;
}

.place-details {
  padding-top: 10px;
}

#map {
  height: 300px;
}
